*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top-header{
    width: 100%;
    background-color: blue;
}
.Menu-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Menu-bar ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.Menu-bar ul img{
    height: 70px;
}
.Menu-bar ul li a{
    display: block;
    padding: 25px;
    text-decoration: none;
    color: white;
    font-size: 22px;
}
.slid-box{
    height: 600px;
    /* background-color: red; */
    margin: auto;
    padding: 0;
   
}
.swiper{
    background-color: yellow;
    width: 100%;
    height: 100%;
    margin-top: 10px;
}
.swiper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.item{
    position: relative;
    top: 20px;
    height: 450px;
    /* background-color: aqua; */
    padding:5px !important;

    /* margin: 0; */
}

.item .box{
   position:relative;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 1px 1px 5px 0px black;
    /* background-color: yellow; */
}
.box .box-img{
    width: 100%;
    height:60%;
    background-color: violet;
}
.box .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box .box-text h1{
    text-align: center;
    font-size: 22px;
    margin-top: 5px;
}
.box .box-text h1:nth-child(2){
    color: red;
}
.box .box-text p{
    text-align: center;
}
.box .box-text .star{
    display: flex;
     justify-content: center;
     align-items: center;
     gap: 10px;
     position: relative;
     bottom: 15px;
     font-size: 22px;
     color: yellow;
     
}
.discount{
    position: absolute;
    top: 0;
    right: 0;
    background-color: blue;
    color: #ffffff;
    padding: 8px;
    font-size: 22px;
}